/* media query for width <=1024 */

@media screen and (max-width: 1024px) {

    h3{
        size: 1.2rem;
    }

    /* nav-bar */
    .nav-toggle{
        display: block;
        margin-right: 20px ;
    }   

    .nav-links{
        display: none;
    }

    /* examples-section */
    .examples-area{
        gap: 20px;
    }
    .examples-card{
        width: calc(50% - 10px);
        height: 200px;
    }
}

/* media query for width <=768 */

@media screen and (max-width: 768px) {
    
    .primary-button{
        width: 100%;
    }

    /* accordian */
    .gallery-flex{
        flex-direction: column;
    }
    .gallery{
        width: 100%;
        grid-auto-rows: 220px;
    }
    .boxes{
        grid-column: span 3;
    }

    /* header */
    .header-section{
        flex-direction: column-reverse;
    }
    .header-left{
        text-align: center;
        max-width: 100vw;
    }

    /* features */
    .features-card{
        max-width: calc(50%-10px);
    }

    /* big-feature-section */
    .big-feature-container{
        flex-direction: column;
    }

    /* footer */
    .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-colum{
        align-items: stretch;
    }
}