@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
    --background-color: #fff
}

/* .dark{
    --primary-text-color: #ffffff;
    --secondary-text-color: #aeaeae;
    --accent-color: #cdc11f;
    --accent-color-dark: #988400;
    --background-color:  #000
} */

body{
    font-family: 'Poppins','sans-serif';
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

h3{
    font-size: 0.75erm;
}

p{
    font-family: 'Roboto','sans-serif';
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
/* utility clases */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    text-align: center;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--primary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/* top banner */
.banner-text{
    color: var(--primary-text-color);
    padding: 15px 30px;
    text-align: center;
}

.top-banner{
    background-color: #fd0;
    background-image: url(assets/asset\ 32.png);
    background-size: 300px;
}

/* nav bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-toggle{
    display: none;
}



/* header section */

header{
    padding: 50px var(--padding-inline-section) 0;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px ;
}

.get-started-button{
    margin-top: 20px;
}

.header-right img{
    width: 100%;
}

/* accordian */
.accordian{
    margin: 30px var(--padding-inline-section) 0;
    max-width: 1000px;
    padding: 80px var(--padding-inline-section);
}

.accordian-section{
    cursor: pointer;
    padding: 4px 16px;
    margin-bottom: 16px;
    /* border-radius: 22.5px; */
    /* box-shadow: 0px 0px 3px var(--secondary-text-color); */
}

.accordian-section.active{
    cursor: pointer;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px var(--secondary-text-color);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}   

.description{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
}

.icon{
    margin-right: 20px;
    transition: transform 0.2s;
}

.icon.active{
    transform: rotate(-180deg);
}

/* gallery */

.row-2{
    grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}

.left-text-gallery{
    flex-basis: 30%;    
}

.gallery{
    flex-basis: 70%;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    margin: 30px var(--padding-inline-section) 0;
}

.gallery-flex{
    margin-bottom: 40px;
    margin-top: 4px;
}

.boxes{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: soft-light;
    transition: all 1s ease-in-out;
}

.boxes:hover{
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px var(--secondary-text-color);
}

/* companies-section */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.logo{
    height: 45px;
}

/* features-section */

.features-section{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.features-header{
    text-align: center;
    /* padding: 80px 0 0; */
}

.features-header h2{
    margin-bottom: 20px;
}

.features-area{
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-image: url(assets/asset\ 34.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

/* big-feature-section */

.big-feature-section{
    padding: 80px var(--padding-inline-section) ;
}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}

.feature-description{
    align-items: flex-start;
    flex-direction: column;
}

#seccond-big-feature{
    flex-direction: row-reverse;
}

/* examples-section */

.examples-section{
    margin: 80px var(--padding-inline-section);
}

.examples-header{
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.examples-card{
    width: 23%;
    height: 300px;
    position: relative;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 37.jpeg);
    transition: 0.5s ease-in-out;
}

.examples-card:nth-child(2){
   background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 38.jpeg);
}

.examples-card:nth-child(3){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 36.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4){
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(assets/asset\ 39.jpeg);
    background-size: cover;
}

.examples-card:hover{
    box-shadow: 0 0 15px var(--primary-text-color);
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/* footer */

footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-colum{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

/* sub-footer */

.subfooter{
    background-color: #1d69a3;
    height: 50px;
    color: whitesmoke;
}

.subfoot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

